.bg-chinese-violet {
    background-color: #855988;
}

.bg-dark-lavender {
    background-color: #6b4984;
}

.bg-regalia{
    background-color: #483475;
}

.bg-st-patricks-blue{
    background-color: #2b2f77;
}

.bg-space-cadet{
    background-color: #141852;
}

.bg-cetacean-blue{
    background-color: #070b34;
}

body {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    margin: auto;
    display: block;
}

table {
    width: 100%;
}

#container-right {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 30px);
}

#nav-bar {
    height: 30px;
    max-height: 30px;
}

#credits {
    font-family:monospace;
    min-width: 20%;
    text-align: right;
}

#login-screen{
    background: url("assets/textures/login.png") no-repeat;
    background-size: cover;
}

.card {
    margin: 5px;
}

.card-body {
    padding: 10px;
}

.card-header {
    padding: 5px 15px;
}

.card-purchase-options {
    display: flex;
    flex-flow: row;
    margin-left: -5px;
    margin-right: -5px;
}
.card-purchase {
    display: block;
    background-color: #474b96;
    padding: 7px 5px;
    text-align: center;
    margin: 0 5px;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
    cursor: pointer;
}
.card-purchase-single {
    flex-grow: 2;
}
.card-purchase:hover,
.card-purchase:focus {
    background-color: #4c60b0;
}

.card-purchase:active {
    padding: 9px 5px 5px 5px;
    box-shadow: 0 1px 0 1px #141852 inset;
}

* {
    font-size: 12px;
    line-height: 1.25;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(28,58,148)),
    color-stop(0.72, rgb(73,125,189)),
    color-stop(0.86, rgb(122,153,217)));
}